* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.body{

    gap: 88px;
}

.first-section{
    gap: 48px;
    padding-inline: calc((100% - 1440px) / 2);
}

.topic-distribution {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 80px 120px 0 120px;
    
    align-items: flex-start;

}

.topic-left{
 gap: 40px;

}



.main-topic {
    gap: 8px;
}

.main-topic > h1{
    font-family: "Arima";
    font-weight: 700;
    font-size: 64px;
    color: #F1C953;
    line-height: 120%;
}

.main-topic >h2 {

    font-family: "palanquin";
    font-weight: 600;
    font-size: 40px;
    color: #4EA487;
    line-height: 120%;
}
.main-topic > p {
    font-family: "palanquin";
    font-weight: 400;
    font-size: 28px;
    color: #54370D;
    line-height: 110%;
}

.under-topic  { 
    display: flex;
    flex-direction: row;
}
.author{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4EA48733;
    border-radius: 30px;
    padding: 16px;
   
}
.author > img {
    
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
#author-name{
    font-family:"Arima";
    font-weight: 700;
    font-size: 18px;
    color: #54370D;
    line-height: 120%;

}

#profession {

    font-family: "Arima";
    font-weight: 400;
    font-size: 18px;
    color: #54370D;
}

#about-me{

    font-family: "palanquin";
    font-weight: 400;
    font-size: 16px;
    color: #54370D;   
    line-height: 120%;
    letter-spacing: 0%; 

}
.first-section-summary{
    width: 1440px;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;

}
.first-section-summary p{
    font-family: "palanquin";
    font-weight: 400;
    font-size: 24px;
    color: #3D3D3D;
    line-height: 120%;
    flex-wrap: wrap ;
    
}

