footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #4ea487;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 24px 15px 24px;
}

#impressum {
  order: 1;
}
#cookie {
  order: 2;
}
#my-webpage {
  order: 3;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-family: "Palanquin";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.footer-left a {
  text-decoration: none;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.footer-right {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}
.copyright {
  display: flex;
}

.footer-mobile-ekstra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f1c953;
  gap: 48px;
  padding: 24px 35.5px;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

   .footer-left {
    font-size: 12px;
  }
  .footer-mobile-ekstra a {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .footer-mobile-ekstra {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

  .footer-top {
    display: flex;
    justify-content: space-between;
    padding: 60px 120px;
    padding-inline: calc((100% - 1024px) / 2);
  }
  .footer-left {
    flex-direction: row;
    gap: 48px;
  }
  #impressum {
    order: 2;
  }
  #cookie {
    order: 3;
  }
  #my-webpage {
    order: 1;
  }

  .footer-mobile-ekstra {
    display: none;
  }
}

@media screen and (min-width: 1440px) {

   .footer-top {
    display: flex;
    justify-content: space-between;
    padding: 60px 120px;
    padding-inline: calc((100% - 1440px) / 2);
  }
  .footer-left {
    flex-direction: row;
    gap: 48px;
  }

  #impressum {
    order: 2;
  }
  #cookie {
    order: 3;
  }
  #my-webpage {
    order: 1;
  }

  .footer-mobile-ekstra {
    display: none;
  }
}