header {
    background-color: #4EA487;
    width: 100%;
    display: flex;
    padding:32px var(--space-padding-sides) ;
}

header > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

header img {
    width: 56px;
    height: 56px;
}

nav {
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: "Arima";
    font-weight: bold;

}




@media (min-width: 768px) {
   header > div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   }

    header img {
        width: 76px;
        height: 76px;
    }

    nav {
        display: flex;
        align-items: center;
        margin-left: 100px;
        gap: 3rem;
    }

    nav a:hover {

        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-color: #F1C953;
        text-underline-offset: 7px;

    }
}


/* === 1536px – Große Monitore / Ultrawide === */
@media (min-width: 1536px) {
    header{
        justify-content:center;
    }
    header > div{
        max-width: 1450px;
        width: 100%;
    }


}