.hero {
  position: relative;
  min-height: 515px;
  max-width: 1440px;
  margin: 0 auto;
  background: url('/assets/img/Hero-Mobile.jpg') no-repeat center/cover;
  overflow: visible;
  margin-bottom: var(--space-margin);
  padding-left: var(--space-padding-sides);
  padding-right: var(--space-padding-sides);
}

.hero-content {
    padding: 60px 0;
    max-width: 200px;
    color: #4a2d00;
}

.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 32px;
  display: none;
}

.hero-content p {
  font-size: var(--fs-body);
  line-height: 1.5;
  display: none;
}

.hero-badge {
  position: absolute;
  left: 15vw;
  bottom: 230px;
  width: 160px;
  height: 160px;
  background: #4EA487;
  border-radius: 50%;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0.8;
}

.badge-flag {
  width: 50px;
  height: 50px;
}

.badge-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (min-width: 368px) {
  .hero-badge {
    left: 18vw;
  }
}

@media (min-width: 468px) {
  .hero-badge {
    left: 21vw;
  }
}

@media (min-width: 568px) {
  .hero-badge {
    left: 24vw;
  }
}

@media (min-width: 568px) {
  .hero-badge {
    left: 27vw;
  }
}

@media (min-width: 768px) {
  
  .hero {
    background: url('/assets/img/Hero-Desktop.jpg') no-repeat center/cover;
  }

  .hero-badge {
    left: 34vw;
    bottom: 85px;
    scale: 1;
  }

  .hero-content h1 {
    display: block;
    font-family: "Arima", sans-serif;
    font-weight: 700;
  }

  .hero-content p {
    display: block;
    font-family: "Palanquin", sans-serif;
    font-weight: 500;
  }
  

}

@media (min-width: 868px) {
  .hero-badge {
    left: 36vw;
  }
}

@media (min-width: 968px) {
  .hero-content h1 {
  font-size: 3.5rem;
}
  .hero-content {
  padding: 100px 0;
  max-width: 300px;
}
  .hero-badge {
    left: 38vw;
  }
}

@media (min-width: 1068px) {
  .hero-content h1 {
  font-size: 4rem;
}
  .hero-content {
  padding: 140px 0;
  max-width: 350px;
}
  .hero-badge {
    left: 40vw;
  }
}

@media (min-width: 1440px) {
  .hero-content {
  max-width: 400px;
}
  .hero-badge {
    left: 600px;
  }
}