:root {
  --farbe-primary:  #F1C953;
  --farbe-accent:   #4EA487;
  --farbe-text:     #54370D;
  

  
  --fs-h2:    clamp(2.5rem, 3vw + 1rem,   3.25rem);
  --fs-body:  clamp(1rem, 2vw + 0.5rem, 1.5rem);

  --space-padding-sides: clamp(3rem,  8vw, 8rem) ;
  --space-gap: clamp(5rem, 8vh, 7.5rem);

  
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header {
  width: 100%;
}

main {
  flex: 1; 
  width: 100%;
}

footer {
  width: 100%;
}