* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.contact-form {
  gap: 32px;
  padding-inline: calc((100% - 320px) / 2);
    padding-left:  var(--space-padding-sides);
    padding-right: var(--space-padding-sides);
    max-width: 1560px;
    margin: 0 auto;
    margin-bottom: var(--space-margin);
  
}

.contact-form h2 {
  font-family: 'Arima';
  font-style: bold;
  font-weight: 700;
  color: #4ea487;
  font-size: var(--fs-h2);
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.contact-header h2 {
  font-size: var(--fs-h2);
  font-weight: 700;
}

.contact-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom:32px;
}

.contact-form > p {
  text-align: center;
  color: #54370d;
  font-family: "Palanquin";
  font-size: var(--fs-body);
  font-weight: 500;
  font-style: medium;
  display: none;
  margin-bottom: 56px;
}

form {
  display: flex;
  flex-direction: column;

  gap: 22px;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  color: #54370d;
  font-family: "Palanquin";
 font-size: var(--fs-body);
  font-weight: 500;
  font-style: medium;
  gap: 32px;
  flex-wrap: wrap;
  
}

.questions div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid #54370d;
  height: 94px;
  gap: 8px;
}

.credentials {
  display: flex;
  flex-direction: column;
}
.any-help {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 100%;
  border: none;
  height: 31px;
  font-family: "Palanquin";
  font-size: var(--fs-body);
  color: #4ea487;
  font-weight: 500;
}
input[type="text"]:focus {
  outline: none;
}

.form-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  gap: 40px;
  padding-inline: calc((100% - 320px) / 2);
  padding-top: 22px;
}

.privacy-check {
  height: 42px;
  width: 100%;
  text-align: center;
  color: #54370d;
  font-family: "Palanquin";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.privacy-checkmark {
  display: flex;
  justify-content: center;
  gap: 8px;
  text-align: center;
}
.privacy-checkmark p {
  max-width: 500px;
  line-height: 120%;
  text-align: left;
}

.standout-policy {
  font-weight: 500;
  color: #4ea487;
  padding: 0 clamp(0.25rem,0vw,0.75rem);
}

.privacy-checkmark input {
  width: 24px;
  height: 24px;
  accent-color:#4EA487;
  transform: scale(1.2);
}

.send-button {
  width: 139px;
  height: 48px;
}
@media  (min-width: 768px) {
  .privacy-checkmark {
    align-items: center;
}

  .contact-form > p {
    display: block;
    gap: 32px;
    padding-inline: calc((100% - 1200px) / 2);
    
  }
  .questions {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .credentials {
    flex: 0 0 calc(50% - 16px); 
  }

  .any-help {
    flex: 0 0 100%;
  }
  
.privacy-checkmark p {
    white-space: nowrap;
  }
  .form-bottom {
  padding-top: 16px;
}
  
}

