.FAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: var(--space-margin);
    padding: 0 var(--space-padding-sides);
}

.FAQ-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.FAQ-headline h2 {
    color: #4EA487;
    font-size: var(--fs-h2);
    margin: 0;
    font-family: 'Arima', cursive;
    font-weight: 700;
}

.FAQ-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 1440px;
}


.einklappen {
    background-color: #F1C953;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
    border: none;
    margin-bottom: 8px;
}


summary {
    padding: 24px;
    list-style: none;
    cursor: pointer;
    font-weight: 700;
    color: #54370D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    outline: none;
    font-size: 1.5rem;
    font-family: 'Palanquin', sans-serif;
}


summary::-webkit-details-marker {
    display: none;
}


summary::after {
    content: '';
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    border-right: 3px solid #54370D;
    border-bottom: 3px solid #54370D;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    margin-right: 5px;
}


.einklappen[open] summary::after {
    transform: rotate(-135deg) ease-in-out;
}


.FAQ-text {
    background-color: white;
    color: #54370D;
    padding: 20px;
    margin: 0 16px 16px 16px;
    border-radius: 8px;
    line-height: 1.6;
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: none;
}


@media (max-width: 600px) {
    summary {
        font-size: 1.2rem;
        padding: 16px;
    }

    .FAQ-text {
        margin: 0 12px 12px 12px;
        padding: 16px;
    }
}